body {
    overflow: hidden; /* Hide the scrollbar of the body */
  }
  
  .reagent-list {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .reagent-list h1 {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
  }
  
  .reagent-list .tableContainer {
    margin-top: 100px; /* Adjust based on the height of the fixed header */
    height: calc(100vh - 150px); /* Adjust based on the total height of other fixed elements */
    overflow-y: auto;
    padding-top: 10px;
  }
 

  /* ReagentList.css */

/* Hide scrollbar for Chrome, Safari and Opera */
.tableContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tableContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
